html {
  height: 100vh;
  overflow: auto;
}

@font-face {
  font-family: Cornerstone;
  src: url(./Cornerstone.woff2);
}

.corn {
  font-family: Cornerstone, cursive;
}

.center {
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.select_all {
  user-select: all;
  -moz-user-select: all;
  -ms-user-select: element;
}

.select_none {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@keyframes slide-fromDown {
  0% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    overflow: auto;
  }
}

@keyframes slide-toUp {
  0% {
    opacity: 1;
    overflow: auto;
  }
  100% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
    opacity: 0;
  }
}

.slide-enter-active {
  animation: slide-fromDown 0.3s cubic-bezier(.14, .03, .03, 1);
}

.slide-leave-active {
  animation: slide-toUp 0.25s cubic-bezier(.14, .03, .03, 1);
}